<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resenha Cultural - Blog</title>
</head>
<body>
    <h1>Blog Resenha Cultural</h1>
    <p>Veja os <a href="post">posts</a> do blog.</p>
</body>
</html>
